.LoginDiv {
  width: 350px;
  height: 300px;
  padding: 25px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.LoginDiv2 {
  width: 350px;
  height: 180px;
  padding: 25px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.LoginDiv2 .title{
  margin: 10px;
  font-size: 16px;
  letter-spacing: 0ch;
}

.logo {
  background-image: url("../../../static/images/favicon.png");
  width: 90px;
  height: 90px;
  border-radius: 10%;
  margin: 0 auto;
  box-shadow:
  /* logo shadow */ 0px 0px 2px #5f5f5f,
    /* offset */ 0px 0px 0px 5px #ecf0f3, /*bottom right */ 8px 8px 15px #a7aaaf,
    /* top left */ -8px -8px 15px #ffffff;
}

.title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.7px;
}

.subTitle {
  color: red;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  margin-left: 15px;
  padding: 20px 10px 20px 5px;
}

.username,
.password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 2px 2px 2px #cbced1, inset -2px -2px 2px #ffffff;
}

.username input {
  width: 320px;
}

.password input {
  width: 320px;
}

.fields svg {
  height: 22px;
  /* margin: 0 10px -3px 25px; */
}

.signinButton {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 1.5s;
}
.signinButton:hover {
  background: #139c95;
}

/* .signinButton:active {
  background: #08221c;
} */

.link button {
  background: #ecf0f3;
  margin-left: 115px;
  margin-top: 20px;
}

link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}
